html{
  width:100%;
  height:100%;
  overflow: hidden;
}



body {
  width:100%;
  height:100%;
  overflow: auto;
  font-family: 'Barlow Semi Condensed', sans-serif;;
  font-size: var(--fontSizes-base);
  line-height: var(--lineHeights-base);
  color: var(--colors-white, #fff);
  font-variant-numeric: lining-nums;
  background: radial-gradient(circle at top,hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
}


*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}